/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
body {
  transition: background-color 0.3s ease;
}

body.dark {
  background-color: #121212;
  color: #e0e0e0;
}

body.light {
  background-color: #ffffff;
  color: #000000;
}